/config.h
/config.log
/config.status
/autom4te.cache
Makefile
/libtool
/stamp-*
/libusb_vhci-*.*
.deps
.libs
*.la
*.lo
*.o
*.kdevelop.pcs
*.kdevses
/Doxyfile
*~
*.swp
/examples/virtual_device
/examples/virtual_device2
